<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="commonHead(title)">
    <title th:text="${title}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .span9{display: inline-block;width: 75%;vertical-align: top;}
        #loginInfo{
            line-height: 50px;
            float: right;
            margin-right: 30px;
        }
    </style>
</head>

<body>

</body>

</html>